<h1 ng-if="editSourceconfig.nowEditing === undefined">New Source Config</h1>
<h1 ng-if="editSourceconfig.nowEditing !== undefined">Edit Source Config</h1>
<p class="lead">Specify Source Configuration including Data Source Backend, Knowledge Backend, and Algorithm Backend</p>
<div class="alert alert-danger" role="alert" ng-if="editSourceconfig.errorMsg">
	<strong>Error saving cohort!</strong> {{editSourceconfig.errorMsg}}
</div>
<div id="definitionContainer">
	<form novalidate angular-validator angular-validator-submit="editSourceconfig.save()" name="sourceconfigForm" id="sourceconfigForm" class="vert-offset" role="form" ng-init="expanded=true;">
		<div class="form-group">
			<label for="sourceconfigDefname" class="control-label">Name:</label>
                        
			<input ng-if="editSourceconfig.nowEditing === undefined" type="text" id="sourceconfigDefName" name="sourceconfigDefName" class="form-control" ng-model="editSourceconfig.id" required-message="'Name is required'" required />
                        <label ng-if="editSourceconfig.nowEditing !== undefined">{{editSourceconfig.id}}</label>

		</div>
            
		<div class="form-group">
			<label  class="control-label">Data Source Backends</label>
                <table class="table">
                    <tbody>
                        <tr ng-repeat-start="backend in editSourceconfig.dataSourceBackends">
                            <td></td>
                            <td><input type="text" class="form-control" ng-model="backend.id"/></td>
                        </tr>
                        <tr ng-repeat-end ng-show="editSourceconfig.nowEditing !== undefined">
                            <td><button ng-click="expanded = !expanded; $event.preventDefault();" expand>
                        <span ng-bind="expanded ? '-' : '+'"></span>
                    </button></td>
                            <td>
                                <table class="table table-condensed table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Option Name</th>
                                        <th>Option Value</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-show="expanded">
                                        <tr ng-repeat = "option in backend.options" >
                                            <td><input type="text" style="width: 100%; border: 0; box-sizing: border-box;" ng-model="option.name"/></td>
                                            <td><input type="text" style="width: 100%; border: 0; box-sizing: border-box;" ng-model="option.value"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
<!--                <div class="form-group" ng-repeat=" datasourceBackend in editSourceconfig.dataSourceBackends">
                        <input type="text" id="sourceconfigDatasource" class="form-control" ng-model="datasourceBackend.id"/>
                        -->
                        
                </div>
                
 <div class="form-group">
			<label  class="control-label">Knowledge Source Backend</label>
                <table class="table">
                    <tbody>
                        <tr ng-repeat-start="backend in editSourceconfig.knowledgeSourceBackends">
                            <td></td>
                            <td><input type="text" class="form-control" ng-model="backend.id"/></td>
                        </tr>
                        <tr ng-repeat-end ng-show="editSourceconfig.nowEditing !== undefined">
                            <td><button ng-click="expanded = !expanded; $event.preventDefault();" expand>
                        <span ng-bind="expanded ? '-' : '+'"></span>
                    </button></td>
                            <td>
                                <table class="table table-condensed table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Option Name</th>
                                        <th>Option Value</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-show="expanded">
                                        <tr ng-repeat = "option in backend.options" >
                                            <td><input type="text" style="width: 100%; border: 0; box-sizing: border-box;" ng-model="option.name"/></td>
                                            <td><input type="text" style="width: 100%; border: 0; box-sizing: border-box;" ng-model="option.value"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
<!--                <div class="form-group" ng-repeat=" datasourceBackend in editSourceconfig.dataSourceBackends">
                        <input type="text" id="sourceconfigDatasource" class="form-control" ng-model="datasourceBackend.id"/>
                        -->
                        
                </div>
            
            <div class="form-group">
			<label  class="control-label">Algorithm Backend</label>
                <table class="table">
                    <tbody>
                        <tr ng-repeat-start="backend in editSourceconfig.algorithmSourceBackends">
                            <td></td>
                            <td><input type="text" class="form-control" ng-model="backend.id"/></td>
                        </tr>
                        <tr ng-repeat-end ng-show="editSourceconfig.nowEditing !== undefined">
                            <td><button ng-click="expanded = !expanded; $event.preventDefault();" expand>
                        <span ng-bind="expanded ? '-' : '+'"></span>
                    </button></td>
                            <td>
                                <table class="table table-condensed table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Option Name</th>
                                        <th>Option Value</th>
                                    </tr>
                                    </thead>
                                    <tbody  ng-show="expanded">
                                        <tr ng-repeat = "option in backend.options" >
                                            <td><input type="text" style="width: 100%; border: 0; box-sizing: border-box;" ng-model="option.name"/></td>
                                            <td><input type="text" style="width: 100%; border: 0; box-sizing: border-box;" ng-model="option.value"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
<!--                <div class="form-group" ng-repeat=" datasourceBackend in editSourceconfig.dataSourceBackends">
                        <input type="text" id="sourceconfigDatasource" class="form-control" ng-model="datasourceBackend.id"/>
                        -->
                        
                </div>
            
		<button id="patCohortEditCancelButton" type="button" class="btn" ng-click="editSourceconfig.cancelSourceconfigForm()">Cancel</button>
		
                <button ng-if="editSourceconfig.nowEditing !== undefined" id="patCohortEditSaveButton" type="submit" class="btn btn-primary">Save</button>
                <button ng-if="editSourceconfig.nowEditing === undefined" id="patCohortEditSaveButton" type="submit" class="btn btn-primary">Create And Edit</button>

	</form>
</div>
<script type="text/ng-template" id="treeMultiDropZoneDeleteModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Remove Criterion</h3>
	</div>
	<div class="modal-body">
		<p><strong>Are you sure you want to remove "{{mo.displayName}}"?</strong></p>
	<p>This operation cannot be undone.</p>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn" ng-click="mo.cancel()">Cancel</button>
		<button type="button" class="btn btn-primary" ng-click="mo.ok()">Remove</button>
	</div>
</script>
<script type="text/ng-template" id="cancelEditSourceconfigModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Unsaved Changes</h3>
	</div>
	<div class="modal-body">
		<p><strong>Are you sure you want to discard your changes to "{{mo.cohortName}}"?</strong></p>
		<p>This operation cannot be undone.</p>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn" ng-click="mo.cancel()">Continue</button>
		<button type="button" class="btn btn-primary" ng-click="mo.ok()">Discard</button>
	</div>
</script>
<script type="text/ng-template" id="cancelCreateSourceconfigModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Unsaved Changes</h3>
	</div>
	<div class="modal-body">
		<p><strong>Are you sure you want to discard your new cohort?</strong></p>
		<p>This operation cannot be undone.</p>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn" ng-click="mo.cancel()">Continue</button>
		<button type="button" class="btn btn-primary" ng-click="mo.ok()">Discard</button>
	</div>
</script>
